<form method="GET" action="/dashboard/result">
  <div class="form-control">
    <label for="search">Search for Destination Reviews</label>
    <input type="text" name="search" id="search">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>



