<form method="GET" action="/dashboard/country">
  <div class="form-control">
    <label for="country">Search for Country Reviews</label>
    <input type="text" name="country" id="country">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<form method="GET" action="/dashboard/city">
  <div class="form-control">
    <label for="city">Search for City Reviews</label>
    <input type="text" name="city" id="city">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>




